# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare files that will always have LF line endings on checkout
*.key text eol=lf
*.sh text eol=lf
mailhog_init text eol=lf